Import Libraries

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import normaltest

Baca file `country.csv`, simpan di variabel df. Tampilkan 5 data pertama.

In [ ]:
df=pd.read_csv('/Users/anggi/Downloads/country.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/anggi/Downloads/country.csv'

Periksa, apakah ada _missing value_ pada dataframe df, drop jika ada.

In [ ]:
df.isna().sum()

In [ ]:
df=df.dropna()

Tampilkan ringkasan statistik deskriptif, baik untuk kolom yang bernilai numerik maupun kolom yang bernilai kategorikal.

Dari kolom-kolom berisi nilai numerik, kolom mana saya yang memiliki data yang condong ke kanan?

In [ ]:
df.describe() #semua condong ke kanan kecuali lifeexpectancy

In [ ]:
df.describe(include='object')

            Name Continent     Region
count        222       222        222
unique       222         6         23
top     Thailand    Africa  Caribbean
freq           1        57         24

Buatlah kolom baru bernama `Kepadatan` yang berisikan data kepadatan penduduk tiap negara (`Population`/`SurfaceArea`)

In [ ]:
df['Kepadatan']=df['Population']/df['SurfaceArea']

Tampilkan ukuran pusat untuk kolom `Kepadatan`!

In [ ]:
print(f"Rata-rata: {df['Kepadatan'].mean()}")
print(f"Nilai tengah: {df['Kepadatan'].median()}")
print(f"Modus: {df['Kepadatan'].mode()}")

Rata-rata: 428.32801463344606
Nilai tengah: 75.68927585902273
Modus: 0          0.025853
1          1.101504
2          1.699330
3          2.011111
4          2.093918
           ...
217     4166.666667
218     5771.844660
219     6308.837209
220    22666.666667
221    26277.777778
Length: 222, dtype: float64

Tampilkan ukuran penyebaran kolom `kepadatan`!

In [ ]:
print(f"Standard Deviasi: {df['Kepadatan'].std()}")
print(f"Range: {df['Kepadatan'].max()-df['Kepadatan'].min()}")
print(f"Q1: {df['Kepadatan'].quantile(.25)}")
print(f"Q3: {df['Kepadatan'].quantile(.75)}")
print(f"IQR: {df['Kepadatan'].quantile(.75)-df['Kepadatan'].quantile(.25)}")

Standard Deviasi: 2393.472928183518
Range: 26277.751924743046
Q1: 28.471606451013976
Q3: 172.46078929055386
IQR: 143.9891828395399

Menurut kalian, ukuran pusat data dan ukuran penyebaran data mana yang cocok dipakai untuk kolom `Kepadatan`?

In [ ]:
# median dan quantile/IQR

Apakan kolom `Kepadatan` memiliki nilai ouliers? Ada berapa nilai outliers?

In [ ]:
def outlier(data):
    q1=data.quantile(0.25)
    q3=data.quantile(0.75)
    iqr=q3-q1
    b_bawah=q1-1.5*iqr
    b_atas=q3+1.5*iqr
    return data.loc[(data<b_bawah)|(data>b_atas)]

In [ ]:
len(outlier(df['Kepadatan']))

21

Apakah kolom populasi, surface area, life expectancy dan GNP ``terdistribusi normal``? Kalian bisa menggunakan D’Agostino and Pearson’s Test.

In [ ]:
def normal(i):
    stats,pval=normaltest(i)
    if pval<0.05:
        print('Kolom', i.name, 'tidak berdistribusi normal')
    else:
        print('Kolom', i.name, 'berdistribusi normal')

In [ ]:
normal(df['SurfaceArea'])
normal(df['Population'])
normal(df['LifeExpectancy'])
normal(df['GNP'])

Kolom SurfaceArea tidak berdistribusi normal
Kolom Population tidak berdistribusi normal
Kolom LifeExpectancy tidak berdistribusi normal
Kolom GNP tidak berdistribusi normal

Buat kolom baru bernama `GNP_cat` yang berisikan string `low` jika nilai GNP data tersebut di bawah nilai median seluruh GNP, dan string `high` jika sebaliknya

In [ ]:
df['GNP_cat']=np.where(df['GNP']<df['GNP'].median(),'low','high')

In [ ]:
df['GNP_cat'].head()

0     low
1    high
2    high
3     low
4     low
Name: GNP_cat, dtype: object

Buat tabel yang berisikan persentase negara dengan GNP tinggi dan persentase negara dengan GNP rendah berdasarkan benuanya!

In [ ]:
pd.crosstab(df['Continent'],df['GNP_cat'],normalize='index').round(4)*100

GNP_cat         high    low
Continent
Africa          8.56  17.12
Asia           16.22   6.76
Europe         14.41   5.41
North America   5.41  11.26
Oceania         0.90   8.11
South America   4.50   1.35